body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 380px;
  background: #111827;
  border-radius: 25px;
  padding: 30px;
  border: 2px solid #3b82f6;
}

.title {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.counter-box {
  background: #1e293b;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.label {
  color: #94a3b8;
  letter-spacing: 2px;
  margin: 0;
}

.counter {
  font-size: 70px;
  margin: 10px 0 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  border: none;
  padding: 14px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.04);
}

.increase {
  background: #22c55e;
  color: white;
}

.decrease {
  background: #ef4444;
  color: white;
}

.reset {
  background: #f59e0b;
  color: white;
}

.goal {
  margin-top: 20px;
  background: #082f49;
  border: 1px solid #38bdf8;
  color: #67e8f9;
  padding: 14px;
  text-align: center;
  border-radius: 14px;
  font-weight: bold;
  animation: glow 1s infinite alternate;
}

.input-section {
  margin-top: 25px;
}

.input-section input {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: 2px solid #334155;
  background: #1e293b;
  color: white;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
}

.message {
  margin-top: 15px;
  color: #cbd5e1;
  font-size: 16px;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #38bdf8;
  }

  to {
    box-shadow: 0 0 20px #38bdf8;
  }
}